header {
    display: flex;
    justify-content: space-between;
    height: 3rem;
    max-width: 100%;
    background: var(--background-color);
}

header nav {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: fit-content;
    margin: .3rem 0 .3rem 1rem ;
}

header nav ul {
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    list-style-type: none;
}

.first {
    color: var(--color-white);
    font-weight: 800;
}

header nav ul a {
    text-decoration: none;
    color: var(--text-unfocus-color);
    &:hover, 
    :focus {
        color: var(--color-white);
        font-weight: 800;
    }
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: right;
    width: fit-content;
    gap: 1rem;
}

.search-box input {
    height: 60%;
    width: 60%;
    font-size: fit-content;
    padding: .6rem;
    &:focus::placeholder {
        color: rgba(0, 0, 0, 0);
    }
}

.search-box button {
    height: 1.8rem;
    width: 4rem;
    background-color: var(--background-color);
    border: 1px solid var(--color-white);
    color: var(--color-white);
}

.search-box button:hover {
    cursor: pointer;
}

.search-box button:active {
    background-color: var(--color-white);
    color: var(--background-color);
    border: 1px solid var(--background-color);
    transform: scale(.9);
}